
<% queries.each do |query| %>
  <p class="p-2">
    <strong>keyword:</strong>
    <%= query.keywords %>
  </p>

  <p class="p-2">
    <strong>count:</strong>
    <%= query.count %>
  </p>
<% end %>

