
<% queries.each do |query| %>
  <p class="p-2">
    <strong>Search keyword:</strong>
    <%= query.keywords %>
  </p>

  <p class="p-2">
    <strong>Number of searches:</strong>
    <%= query.count %>
  </p>
  
<% end %>

